.gallery {
  white-space: nowrap;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery li {
  display: inline-block;
  vertical-align: top;
  padding: 5px; /* Add some padding between images */
}

.gallery img {
  width: 100%;
  height: 300px; /* Fixed height for images */
  object-fit: cover;
  max-width: 100%;
}

.btn {
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border-color: #ffffff;
}

@media (min-width: 768px) {
  .gallery li {
    width: 16.66%; /* 6 images per row on medium and larger screens */
  }
}

#prev {
  left: -20px; /* Move the button to the left, half of its width */
}

#next {
  right: -20px; /* Move the button to the right, half of its width */
}
